@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One+SC&family=Edu+SA+Beginner:wght@500&family=Lilita+One&family=Montserrat&family=Poppins:wght@300;700&family=REM&family=Rancho&family=Rock+Salt&family=Rowdies&family=Ysabeau+SC&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(27, 27, 27);
    min-height: 2000px;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.bg {
    
    background-image: url(bg.jpg);
    min-height: 110vh;
    box-shadow: 0 0 20px black;
}

.headi2 {
    background-color: rgb(0, 0, 0);
    box-shadow: 15px 0 20px;
    top: 0;
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
}

.headi2 img {
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.headi2 h1 {
    color: white;
    float: right;
    margin-right: 190px;
    margin-top: 10px;
}

.headi2 p{
    color: white;
    float: right;
    margin-right: 174px;
    margin-top: -21px;
}

.isi2 h4 {
    color: white;
    font-size: 5px;
    grid-row-end: 200;
    opacity: 0.5;
    margin-left: 5px;
}

.isi {
    margin-top: -100vh;
}

.isi2 img {
    height: 100px;
    margin-top: 90px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px black;
}

.isi2 h1{
    text-shadow: 0 0 15px black;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
}

.isi2 h1 span {
    color: rgb(146, 146, 146);
}

.isi2 p {
    text-shadow: 0 0 15px black;
    color: white;
    text-align: center;
    font-size: 8px;
}

.is {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.is2 img {
    height: 150px;
    margin-left: 24px;
    margin-top: 50px;
}

.or {
    margin-top: 60px;
}

.or2 h1{
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 20px black;
}

.or2 h1 span {
    color: gray;
}

.or2 h2 {
    text-shadow: 0 0 20px black;
    color: white;
    font-weight: 200;
    font-size: 10px;
    text-align: center;
}

.or2 p {
    color: white;
    text-align: center;
    margin-top: 80px;
    text-shadow: 0 0 10px black;
}

.ik2 p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 110px;
    font-size: 7px;
    padding: 0 50px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.about2 h1 {
    text-align: center;
    margin-top: 80px;
    color: white;
    font-weight: 300;
    text-shadow: 0 0 10px black;
}

.about2 h1 span {
    color: rgb(109, 109, 109);
}

.about2 p {
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.about2 img {
    height: 150px;
    float: left;
    margin-top: -5px;
    margin-left: 15px;
}

.about2 p1 {
    font-size: 7px;
    float: right;
    padding: 5px 10px;
    margin-top: -20px;
    color: white;
}
.about2 p1 p2 {
    font-size: 7px;
    float: left;
    padding: 0 0px;
    margin-top: -80px;
    margin-left: 140px;
    color: white;
}


.about3 {
    margin-top: 0;
}

.ab2 h2 {
    padding-top: 0px;
    color: white;
    font-weight: 550;
    margin-left: 20px;
}

.ab2 h2 span {
    color: gray;
}

.ab2 p{
    color: white;
    font-size: 7px;
    padding: 0 20px;
}

.abe-item h2 {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.abe-item p{
    color: white;
    font-size: 7px;
    padding: 0 20px;
}
.tu2 img {
    height: 150px;
    float: left;
    margin-top: -5px;
    margin-left: 15px;
}

.tu2 h1 {
    font-size: 15px;
    float: left;
    padding: 5px 10px;
    margin-top: 20px;
    color: white;
}
.tu2 p {
    font-size: 7px;
    float: left;
    padding: 0 0px;
    margin-top: -130px;
    margin-left: 140px;
    color: white;
}

.gl2 h1 {
    color: white;
    text-align: center;
    margin-top: 200px;
    text-shadow: 0 0 20px black;
}

.gl2 h1 span {
    color: gray;
}

.gl2 img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 20px black;
    margin-top: 20px;
    height: 200px;
}

.m2 h1 {
    color : white;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0 0 20px black;
}
.m2 h1 span {
    color: gray;
}

.m2 img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    padding: 0 20px;
    margin-top: -20px;
    box-sizing: 0 0 20px black;
}

.foot2 .f {
    margin-top: 40px;
    height: 70px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 20px black;
}


.f h1 {
    font-size: 7px;
    text-align: center;
    color: white;
}

.f img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.f p {
    color: white;
    font-size: 8px;
    text-align: center;
    margin-top: 2px;
    font-weight: 550;
}